.App {
  min-height: 100vh;
}


.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  display: flex;
  justify-content: space-between;  /* Adjust this to control the spacing */
  gap: 10px;  /* Optional: to control the gap between the items */
}