.file-table {cursor: pointer;
    /* Change cursor to pointer */
}

.file-table th:nth-child(1), /* Input column */
.file-table td:nth-child(1) {
    width: 30px;
}

.file-table td:nth-child(2) { /* Icon column */
    width: 40px;
}

.file-table th:nth-child(2), /* Name column */
.file-table td:nth-child(3) {
    width: auto;
}

.file-table th:nth-child(3), /* Size column */
.file-table td:nth-child(4) {
    width: 10%;
}

.file-table th:nth-child(4), /* Date column */
.file-table td:nth-child(5) {
    width: 10%;
}

.file-table th:nth-child(5), /* Menu column */
.file-table td:nth-child(6) {
    width: 50px;
}