services:
  gfarm-http-gateway:
    build:
      context: .
    container_name: gfarm-http-gateway
    # NOTE: Adjust --forwarded-allow-ips to match the subnet of your Docker network.
    command: --host 0.0.0.0 --port 8000 --forwarded-allow-ips="172.18.0.0/16"
    # for Run with a Subpath
    # command: --host 0.0.0.0 --port 8000 --forwarded-allow-ips="172.18.0.0/16" --root-path /gfarm
    volumes:
      # Required: Gfarm config
      - ./config/gfarm2.conf:/config/gfarm2.conf:ro
      # Required: Gfarm HTTP gateway config
      - ./config/gfarm-http-gateway.conf:/config/gfarm-http-gateway.conf:ro
      # Required: CA certs for Gfarm
      - ./config/certs:/config/certs:ro
    # Optional: Custom development CA (e.g. self-signed root CA)
    # - ./config/dev_ca.crt:/config/dev_ca.crt:ro

    restart: unless-stopped
    networks:
      - gfarm_net

  nginx-proxy:
    container_name: nginx-proxy
    image: nginx:latest
    ports:
      - "443:443"    # HTTPS
    volumes:
      # Required: Nginx config
      - ./nginx/gfarm.conf:/etc/nginx/conf.d/gfarm.conf:ro
      # Required for HTTPS: TLS server certs/keys for Nginx
      - ./nginx/certs:/etc/nginx/certs:ro
    networks:
      - gfarm_net
    depends_on:
      - gfarm-http-gateway

networks:
  gfarm_net:
    name: gfarm_net