port 6379
tls-port 0

# Disable plaintext, enable TLS
# port 0
# tls-port 6379

# TLS certs
# tls-ca-cert-file /certs/ca.crt
# tls-cert-file    /certs/cert.pem
# tls-key-file     /certs/key.pem

# mTLS (set yes if you want client auth)
tls-auth-clients no

# Persistence
dir /data
appendonly yes