# Plaintext only
port 6379
tls-port 0

# Optional: run in background so you can skip the CLI flag
# daemonize yes

# Optional persistence (uncomment if needed)
# dir /tmp/redis-data
# appendonly yes
save ""
appendonly no

# Optional password (only if your gateway supports Redis auth)
# requirepass change-me


# --- TLS settings ---

# Disable plaintext, enable TLS
# port 0
# tls-port 6379

# Server cert & key (cert should be full chain)
# tls-cert-file    /certs/redis/cert.pem
# tls-key-file     /certs/redis/key.pem

# No client certs (no mTLS):
tls-auth-clients no

# mTLS:
# tls-ca-cert-file /certs/redis/ca.crt
# tls-auth-clients yes   # require client certs (mTLS)