<!DOCTYPE html>
<html>
<head>
<title>gfarm-http-gateway API</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
table {
    width: 100%;
    table-layout: fixed;
}
td {
    overflow-wrap: break-word;
    border: 1px solid black;
    display: block;
    padding: 0;
    margin: 0;
}
pre {
    margin: 0;
}
progress {
    width: 100%;
    height: 20px;
}
</style>

</head>
<body>
    <h1>Gfarm HTTP Gateway (Example of API Usage)</h1>
    {% if access_token %}
    <h2>Access Token</h2>
        <div id="table-container">
          <button id="toggle-button">OPEN</button>
          <table>
          <tr><td id="access_token">{{ access_token }}</td></tr>
          <tr><td><pre>{{ parsed_at }}</pre></td></tr>
          <tr><td><pre>exp={{ exp }}</pre></td></tr>
          <tr><td><pre>current_time={{ current_time }}</pre></td></tr>
          <tr><td><pre>remaining_time={{ exp - current_time }}</pre></td></tr>
          </table>
        </div>


    <h2>API: GET /me (gfwhoami)</h2>
        <p> <a href="/c/me">Who am I (/me)</a> </p>

        <p>
        <button id="whoami_btn">Who am I (fetch from this host)</button>
        <div id="whoami_out"></div>
        </p>

        <p>
        <input type="text" id="whoami_url2" value="http://c3:8000">
        <button id="whoami_btn2">Who am I (CORS) (fetch from a remote host usinig new token from /access_token API)</button>
        <div id="whoami_out2"></div>
        </p>
        <p>
        <input type="text" id="whoami_url3" value="http://c3:8000">
        <button id="whoami_btn3">Who am I (CORS) (fetch from a remote host usinig token from HTML (may use old token))</button>
        <div id="whoami_out3"></div>
        </p>


    <h2>API: GET /dir/{path}?a=1 (gfls -la)</h2>
        <p>
        <label for="ls_path">Gfarm directory:</label>
        <input type="text" id="ls_path" value="/tmp">
        <button id="ls_btn">gfls -la</button><br/>
        <input type="checkbox" id="ls_recursive">
        <label for="ls_recursive">R=1(Recursive)</label>
        <input type="checkbox" id="ls_ign_err">
        <label for="ls_ign_err">ign_err=1</label>
        <table><tr><td><pre><div id="ls_out"></div></pre></td></tr></table>
        </p>

    <h2>API: PUT /file/{path} (gfreg)</h2>
        <p>
        <label for="reg_dir">Gfarm directory:</label>
        <input type="text" id="reg_dir" value="/tmp">
        <input type="file" id="file_input"> <br/>
        <button onclick="uploadFile()">Upload</button>
        <progress id="upload_progress" value="0" max="100"></progress>
        <div id="upload_progress_text"></div>
        <div id="upload_status"></div> <br/>
        </p>

    <h2>Logout</h2>
        <p> <a href="/logout">Logout (Not logging out of Keycloak)</a> </p>
        <p> <a href={{ logout_url }}>Logout of Keycloak</a> </p>

    {% else %}
        <p> <a href="/login">Login with Keycloak</a> </p>
        {% if error %}
        <p>Error: {{ error }}</p>
        {% endif %}
    {% endif %}


<script>
  // TODO async function
  const tableContainer = document.getElementById('table-container');
  const toggleButton = document.getElementById('toggle-button');
  const table = tableContainer.querySelector('table');
  toggleButton.addEventListener('click', () => {
    if (table.style.display === 'none') {
      table.style.display = 'table';
      toggleButton.textContent = 'CLOSE';
    } else {
      table.style.display = 'none';
      toggleButton.textContent = 'OPEN';
    }
  });
  table.style.display = 'none';

  const whoamiButton = document.getElementById('whoami_btn');
  const whoamiOut = document.getElementById('whoami_out');
  whoamiButton.addEventListener('click', async () => {
     try {
        const response = await fetch('/c/me');
          if (!response.ok) {
            throw new Error(`HTTP error: ${response.status}`);
          }
          const text = await response.text();
          whoamiOut.textContent = text;
      } catch (error) {
         console.error('Error fetching data:', error);
         whoamiOut.textContent = error;
      }
  });

  // TODO async function
  const whoamiURL2 = document.getElementById('whoami_url2');
  const whoamiButton2 = document.getElementById('whoami_btn2');
  const whoamiOut2 = document.getElementById('whoami_out2');
  whoamiButton2.addEventListener('click', async () => {
    try {
      const response = await fetch('/access_token');
      if (!response.ok) {
        throw new Error(`HTTP error: ${response.status}`);
      }
      const url = whoamiURL2.value + "/c/me";
      const data = await response.json();
      const response2 = await fetch(url,
        {
          headers: {
            'Authorization': 'Bearer ' + data.access_token,
          }
        });
      if (!response2.ok) {
        throw new Error(`HTTP error: ${response.status}`);
      }
      const text = await response2.text();
      whoamiOut2.textContent = text;
    } catch (error) {
      console.error('Error fetching data:', error);
      whoamiOut2.textContent = error;
    }
  });

  // TODO async function
  const whoamiURL3 = document.getElementById('whoami_url3');
  const whoamiButton3 = document.getElementById('whoami_btn3');
  const whoamiOut3 = document.getElementById('whoami_out3');
  whoamiButton3.addEventListener('click', async () => {
    try {
      const url = whoamiURL3.value + "/c/me";
      const atElement = document.getElementById('access_token');
      const access_token = atElement.textContent;
      const response = await fetch(url,
        {
          headers: {
            'Authorization': 'Bearer ' + access_token,
          }
        });
      if (!response.ok) {
        throw new Error(`HTTP error: ${response.status}`);
      }
      const text = await response.text();
      whoamiOut3.textContent = text;
    } catch (error) {
      console.error('Error fetching data:', error);
      whoamiOut3.textContent = error;
    }
  });

  // TODO async function
  const lsPath = document.getElementById('ls_path');
  const lsButton = document.getElementById('ls_btn');
  const lsOut = document.getElementById('ls_out');
  const lsRecursive = document.getElementById('ls_recursive');
  const lsIgnoreError = document.getElementById('ls_ign_err');
  lsButton.addEventListener('click', async () => {
    const path = lsPath.value.replace(/^\/+/g, "");
    try {
      let api_dir = "/d";
      let fullpath = api_dir + "/" + path + "?a=1";
      if (lsRecursive.checked) {
        fullpath += "&R=1";
      }
      if (lsIgnoreError.checked) {
        fullpath += "&ign_err=1";
      }
      const response = await fetch(fullpath);
      if (!response.ok) {
        const errorText = await response.text();
        throw new Error(`HTTP error: ${response.status} - ${errorText}`);
      }
      //const data = await response.json();
      //lsOut.textContent = JSON.stringify(data, null, 2);
      const text = await response.text();
      lsOut.textContent = text;
    } catch (error) {
      console.error('Error fetching data:', error);
      lsOut.textContent = error;
    }
  });

  async function uploadFile() {
    const fileInput = document.getElementById('file_input');
    const file = fileInput.files[0];
    const regDir = document.getElementById('reg_dir');
    const progressBar = document.getElementById('upload_progress');
    const progressText = document.getElementById('upload_progress_text');
    const status = document.getElementById('upload_status');
    let dirPath = '/' + regDir.value.replace(/^\/+/, "") + '/';
    dirPath = dirPath.replace(/\/+$/, "/");

    if (!file) {
      alert('Please select a file');
      return;
    }
    const uploadUrl = '/file' + dirPath + file.name;
    try {
      const blob = await new Promise((resolve) => {
        const reader = new FileReader();
        reader.onprogress = (event) => {
          if (event.lengthComputable) {
            const percent = (event.loaded / event.total) * 100;
            // progressBar.value = percent;
            // progressText.textContent = `${event.loaded} / ${event.total}`;
            console.log('reading: %d / %d', event.loaded, event.total);
          }
        };
        reader.onloadend = (event) => resolve(event.srcElement.result);
        reader.readAsArrayBuffer(file);
      });

      const startTime = Date.now();
      const xhr = new XMLHttpRequest();
      xhr.open('PUT', uploadUrl);
      xhr.setRequestHeader('Content-Type', file.type);
      xhr.upload.onprogress = (event) => {
        if (event.lengthComputable) {
          const percent = Math.floor((event.loaded / event.total) * 100);
          const elapsedTime = Date.now() - startTime;  // msec.
          const speed = Math.round(event.loaded / elapsedTime * 1000);
          const sec = Math.floor(elapsedTime / 1000)
          progressBar.value = percent;
          progressText.textContent = `${event.loaded} / ${event.total} | ${percent} % | ${sec} sec | ${speed} bytes/sec | (mtime=${file.lastModified} msec)`;
          console.log('uploaded: %d / %d (%d %)', event.loaded, event.total, percent);
        }
      };
      xhr.onload = () => {
        if (xhr.status >= 200 && xhr.status < 300) {
          status.textContent = 'Success (' + dirPath + file.name + ')';
          //alert('Upload: success (' + dirPath + file.name + ')');
          console.log('Upload: success');
        } else {
          status.textContent = 'Upload error:' + xhr.status + xhr.statusText;
          console.error('Upload error:', xhr.status, xhr.statusText);
        }
      };
      xhr.onerror = () => {
        status.textContent = 'Network error';
        console.error('Network error');
      };
      status.textContent = 'Uploading...';
      xhr.send(blob);
    } catch (error) {
      alert('Cannot upload:' + error);
      console.error('Cannot upload:', error);
      throw error;
    }
  }

</script>

</body>
</html>
