<!DOCTYPE html>
<html>
<head>
<title>gfarm-http-gateway API</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
table {
    width: 100%;
    table-layout: fixed;
}
td {
    overflow-wrap: break-word;
    border: 1px solid black;
    display: block;
    padding: 0;
    margin: 0;
}
pre {
    margin: 0;
}
progress {
    width: 100%;
    height: 20px;
}
</style>

<script src="/static/js/gfarm.js"></script>
</head>
<body>
    <h1>Gfarm HTTP Gateway (Examples of API usage)</h1>

    <p><a href="/docs">API docs</a></p>

    {% if login_ok %}

    {% if access_token %}
    <h2>Access Token</h2>
        <div id="table-container">
          <button id="toggle-button">OPEN</button>
          <table>
          <tr><td id="access_token">{{ access_token }}</td></tr>
          <tr><td><pre>{{ parsed_at }}</pre></td></tr>
          <tr><td><pre>exp={{ exp }}</pre></td></tr>
          <tr><td><pre>current_time={{ current_time }}</pre></td></tr>
          <tr><td><pre>remaining_time={{ exp - current_time }}</pre></td></tr>
          </table>
        </div>
    {% endif %}

    {% if sasl_username %}
    <h2>SASL username: {{ sasl_username }}
    {% endif %}

    <h2>(gfwhoami) API: GET /me</h2>
        <p> <a href="/c/me">Who am I (/me)</a> </p>

        <p>
        <button id="whoami_btn">Who am I (fetch from this host)</button>
        <div id="whoami_out"></div>
        </p>

        <p>
        <input type="text" id="whoami_url2" value="http://c3:8000">
        <button id="whoami_btn2">Who am I (CORS) (fetch from a remote host usinig new token from /access_token API)</button>
        <div id="whoami_out2"></div>
        </p>
        <p>
        <input type="text" id="whoami_url3" value="http://c3:8000">
        <button id="whoami_btn3">Who am I (CORS) (fetch from a remote host usinig token from HTML (may use old token))</button>
        <div id="whoami_out3"></div>
        </p>
        <p>
        <input type="text" id="whoami_url4" value="http://c3:8000">
        <button onclick="whoamiWithoutAuth()">Who am I (invalid access token)</button>
        <div id="whoami_out4"></div>
        </p>
        <p>
        <input type="text" id="whoami_url5" value="http://c3:8000">
        <button onclick="whoamiAnonymous()">Who am I (ANONYMOUS) (ALLOW_GFARM_ANONYMOUS=1 is required)</button>
        <div id="whoami_out5"></div>
        </p>

    <h2>(gfls -la) API: GET /dir/{path}?a=1</h2>
        <p>
        <label for="ls_path">Gfarm directory:</label>
        <input type="text" id="ls_path" value="/tmp">
        <button id="ls_btn">gfls -la</button><br/>
        <input type="checkbox" id="ls_recursive">
        <label for="ls_recursive">R=1(Recursive)</label>
        <input type="checkbox" id="ls_ign_err">
        <label for="ls_ign_err">ign_err=1</label>
        <table><tr><td><pre><div id="ls_out"></div></pre></td></tr></table>
        </p>

    <h2>(gfexport) API: GET /file/{path}</h2>
      <p>
        <label for="export_path">Gfarm file:</label>
        <input type="text" id="export_path" value="/tmp/testfile.txt" oninput="updateLink()"> <br/>
        <div id="dl-link"></div>
        <div id="view-link"></div>
        <button onclick="displayFile()">Open in new tab</button> <br/>
        <button onclick="downloadFile()">Download (JavaScript)</button>
        <button id="download-cancel">Cancel</button> <br/>
        <progress id="download-progress" value="0" max="100"></progress>
        <div id="download-progress-text"></div>
      </p>

    <h2>(gfreg) API: PUT /file/{path}</h2>
        <p>
        <label for="reg_dir">Gfarm directory:</label>
        <input type="text" id="reg_dir" value="/tmp">
        <input type="file" id="file_input"> <br/>
        <button onclick="uploadFile()">Upload</button>
        <button id="upload-cancel">Cancel</button> <br/>
        <progress id="upload_progress" value="0" max="100"></progress>
        <div id="upload_progress_text"></div>
        <div id="upload_status"></div> <br/>
        </p>

    <h2>(gfrm) API: DELETE /file/{path}</h2>
        <p>
        <label for="rm_path">Gfarm file:</label>
        <input type="text" id="rm_path" value="/tmp/testfile.txt">
        <button onclick="removeFile()">gfrm</button>
        <div id="rm_output"></div>
        </p>

    <h2>(gfmkdir) API: PUT /dir/{path}</h2>
        <p>
        <label for="mkdir_path">Gfarm directory:</label>
        <input type="text" id="mkdir_path" value="/tmp/testdir">
        <button onclick="createDir()">gfmkdir</button><br/>
        <div id="mkdir_output"></div>
        </p>

    <h2>(gfrmdir) API: DELETE /dir/{path}</h2>
        <p>
        <label for="rmdir_path">Gfarm directory:</label>
        <input type="text" id="rmdir_path" value="/tmp/testdir">
        <button onclick="removeDir()">gfrmdir</button><br/>
        <div id="rmdir_output"></div>
        </p>

    <h2>(gfmv) API: POST /move</h2>
        <p>
        <label for="mv_src">Gfarm path (source):</label>
        <input type="text" id="mv_src" value="/tmp/file1"> <br/>
        <label for="mv_dest">Gfarm path (destination):</label>
        <input type="text" id="mv_dest" value="/tmp/file2">
        <button onclick="move()">gfmv</button><br/>
        <table><tr><td>Input data (JSON)</td></tr><tr><td><pre><div id="mv_input"></div></pre></td></tr></table>
        <div id="mv_output"></div>
        </p>

   <h2>(gfstat) API: GET /attr/{path}</h2>
        <p>
        <label for="stat_path">Gfarm path:</label>
        <input type="text" id="stat_path" value="/tmp/testdir">
        <button onclick="stat()">gfstat</button><br/>
        <table><tr><td><pre><div id="stat_output"></div></pre></td></tr></table>
        </p>

    <h2>Logout</h2>
        {% if access_token %}
        <p> <a href="/logout">Logout (Not logging out of OpenID provider)</a> </p>
        {% else %}
        <p> <a href="/logout">Logout</a> </p>
        {% endif %}
        {% if logout_url %}
        <p> <a href={{ logout_url }}>Logout of OpenID provider and this page (redirect to the login page)</a> </p>
        {% endif %}
        {% if access_token %}
        <p> <a href={{ logout_url_simple }}>Logout of OpenID provider only (no redirect)</a> </p>
        {% endif %}

    {% else %}
        <hr>
        {% if error %}
        <p>Error: {{ error }}</p>
        {% endif %}
        <p> <a href="/login">Login with OpenID provider</a> </p>
        <hr>
        <p>
          Login with SASL (PLAIN or LOGIN)
          <form action="/login_passwd" method="POST">
            <label for="user">Username:</label>
            <input type="text" id="user" name="username"><br/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br/>
            <button type="submit">Login</button>
          </form>
        </p>
        <hr>
        <p> <a href={{ logout_url_simple }}>Logout of OpenID provider only (no redirect)</a> </p>
    {% endif %}


<script>
  // TODO async function
  const tableContainer = document.getElementById('table-container');
  const toggleButton = document.getElementById('toggle-button');
  if (tableContainer) {
      const table = tableContainer.querySelector('table');
      toggleButton.addEventListener('click', () => {
          if (table.style.display === 'none') {
              table.style.display = 'table';
              toggleButton.textContent = 'CLOSE';
          } else {
              table.style.display = 'none';
              toggleButton.textContent = 'OPEN';
          }
      });
      table.style.display = 'none';
  }

  // TODO async function
  const whoamiButton = document.getElementById('whoami_btn');
  const whoamiOut = document.getElementById('whoami_out');
  whoamiButton.addEventListener('click', async () => {
     try {
        const response = await fetch('/c/me');
          if (!response.ok) {
            throw new Error(`HTTP error: ${response.status}`);
          }
          const text = await response.text();
          whoamiOut.textContent = text;
      } catch (error) {
         console.error('Error fetching data:', error);
         whoamiOut.textContent = error;
      }
  });

  // TODO async function
  const whoamiURL2 = document.getElementById('whoami_url2');
  const whoamiButton2 = document.getElementById('whoami_btn2');
  const whoamiOut2 = document.getElementById('whoami_out2');
  whoamiButton2.addEventListener('click', async () => {
    try {
      const response = await fetch('/access_token');
      if (!response.ok) {
        throw new Error(`HTTP error: ${response.status}`);
      }
      const url = whoamiURL2.value + "/c/me";
      const data = await response.json();
      const response2 = await fetch(url,
        {
          headers: {
            'Authorization': 'Bearer ' + data.access_token,
          }
        });
      if (!response2.ok) {
        throw new Error(`HTTP error: ${response.status}`);
      }
      const text = await response2.text();
      whoamiOut2.textContent = text;
    } catch (error) {
      console.error('Error fetching data:', error);
      whoamiOut2.textContent = error;
    }
  });

  // TODO async function
  const whoamiURL3 = document.getElementById('whoami_url3');
  const whoamiButton3 = document.getElementById('whoami_btn3');
  const whoamiOut3 = document.getElementById('whoami_out3');
  whoamiButton3.addEventListener('click', async () => {
    try {
      const url = whoamiURL3.value + "/c/me";
      const atElement = document.getElementById('access_token');
      const access_token = atElement.textContent;
      const response = await fetch(url,
        {
          headers: {
            'Authorization': 'Bearer ' + access_token,
          }
        });
      if (!response.ok) {
        throw new Error(`HTTP error: ${response.status}`);
      }
      const text = await response.text();
      whoamiOut3.textContent = text;
    } catch (error) {
      console.error('Error fetching data:', error);
      whoamiOut3.textContent = error;
    }
  });

  // TODO async function
  const lsPath = document.getElementById('ls_path');
  const lsButton = document.getElementById('ls_btn');
  const lsOut = document.getElementById('ls_out');
  const lsRecursive = document.getElementById('ls_recursive');
  const lsIgnoreError = document.getElementById('ls_ign_err');
  lsButton.addEventListener('click', async () => {
    const path = lsPath.value.replace(/^\/+/g, "");
    try {
      let api_dir = "/d";
      let fullpath = api_dir + "/" + path + "?a=1";
      if (lsRecursive.checked) {
        fullpath += "&R=1";
      }
      if (lsIgnoreError.checked) {
        fullpath += "&ign_err=1";
      }
      const response = await fetch(fullpath);
      if (!response.ok) {
        const text = await response.text();
        throw new Error(`HTTP ${response.status}: ${text}`);
      }
      //const data = await response.json();
      //lsOut.textContent = JSON.stringify(data, null, 2);
      const text = await response.text();
      lsOut.textContent = text;
    } catch (error) {
      console.error('Error fetching data:', error);
      lsOut.textContent = error;
    }
  });

  // not used (fetch then style)
  function downloadFile2() {
    let path = document.getElementById("export_path").value;
    if (path) {
      const epath = encodePath(path)
      const requrl = `/file${epath}?action=download`;
      fetch(requrl)
        .then(response => {
          if (!response.ok) {
            return response.text().then(text => {
              throw new Error(`HTTP ${response.status}: ${text}`);
            });
          }
          const contentDisposition = response.headers.get('Content-Disposition');
          if (contentDisposition) {
            // RFC 5987,8187
            let fnMatch = contentDisposition.match(/filename\*=UTF-8\'\'([^"]+)/);
            if (fnMatch) {
              downloadedFilename = decodeURIComponent(fnMatch[1]);
            } else {
              const fnMatch = contentDisposition.match(/filename="([^"]+)"/);
              if (fnMatch) {
                filename = decodeURIComponent(fnMatch[1]);
              }
            }
          }
          return response.blob();
        })
      .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.setAttribute('download', filename);
        a.style.display = 'none';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        window.URL.revokeObjectURL(url);
      })
      .catch(error => {
        alert("Error: " + error.message);
        console.error(error);
      });
      } else {
          alert("Please input Gfarm path");
      }
  }

  function displayFile() {
    let gpath = document.getElementById("export_path").value;
    if (gpath) {
      gpath = '/' + gpath.replace(/^\/+/, "").replace(/\/+$/, "");
      // URL encode without slash
      const egpath = gpath.replace(/[^/]/g, encodeURIComponent);
      const url = `/file${egpath}`;
      window.open(url, '_blank');
    } else {
      alert("Please input Gfarm path");
    }
  }

  function updateLink() {
    let path = document.getElementById("export_path").value;
    const dlLink = document.getElementById('dl-link');
    const viewLink = document.getElementById('view-link');
    if (path) {
      const epath = encodePath(path);
      const url = `/file${epath}`;

      let a = dlLink.querySelector('a');
      if (!a) {
        a = document.createElement('a');
        dlLink.appendChild(a);
      }
      a.href = url + "?action=download";
      a.textContent = `URL for download: ${a.href}`;

     let a2 = viewLink.querySelector('a');
     if (!a2) {
        a2 = document.createElement('a');
        viewLink.appendChild(a2);
      }
      a2.href = url + "?action=view";
      a2.textContent = `URL for view: ${a2.href}`;
    } else {
      dlLink.innerHTML = '';
      viewLink.innerHTML = '';
    }
  }
  updateLink();

  async function uploadFile() {
    const fileInput = document.getElementById('file_input');
    const cancelButton = document.getElementById('upload-cancel');
    const file = fileInput.files[0];
    const regDir = document.getElementById('reg_dir');
    const progressBar = document.getElementById('upload_progress');
    const progressText = document.getElementById('upload_progress_text');
    const status = document.getElementById('upload_status');
    let dirPath = '/' + regDir.value.replace(/^\/+/, "") + '/';
    dirPath = dirPath.replace(/\/+$/, "/");

    if (!file) {
      alert('Please select a file');
      return;
    }
    const uploadUrl = '/file' + dirPath + file.name;
    try {
      // (not work for large files)
      // const blob = await new Promise((resolve) => {
      //   const reader = new FileReader();
      //   reader.onprogress = (event) => {
      //     if (event.lengthComputable) {
      //       // const percent = (event.loaded / event.total) * 100;
      //       // progressBar.value = percent;
      //       // progressText.textContent = `${event.loaded} / ${event.total}`;
      //       console.log('reading: %d / %d', event.loaded, event.total);
      //     }
      //   };
      //   reader.onloadend = (event) => resolve(event.srcElement.result);
      //   reader.readAsArrayBuffer(file);
      // });

      const mtime = Math.floor(file.lastModified / 1000);  // msec. -> sec.
      const startTime = Date.now();
      const xhr = new XMLHttpRequest();
      xhr.open('PUT', uploadUrl);
      xhr.responseType = 'json';
      cancelButton.addEventListener('click', function() {
        status.textContent = 'Canceled';
        xhr.abort();
      });
      xhr.setRequestHeader('Content-Type', file.type);
      xhr.setRequestHeader('X-File-Timestamp', mtime);
      xhr.upload.onprogress = (event) => {
        if (event.lengthComputable) {
          const percent = Math.floor((event.loaded / event.total) * 100);
          const elapsedTime = Date.now() - startTime;  // msec.
          const speed = Math.round(event.loaded / elapsedTime * 1000);
          const sec = Math.floor(elapsedTime / 1000)
          progressBar.value = percent;
          progressText.textContent = `${event.loaded} / ${event.total} | ${percent} % | ${sec} sec | ${speed} bytes/sec | (mtime=${mtime})`;
          console.log('uploaded: %d / %d (%d %)', event.loaded, event.total, percent);
        }
      };
      xhr.onload = () => {
        if (xhr.status >= 200 && xhr.status < 300) {
          status.textContent = 'Success (' + dirPath + file.name + ')';
          //alert('Upload: success (' + dirPath + file.name + ')');
          console.log('Upload: success');
        } else {
          //console.error(xhr.response);
          const stderr = JSON.stringify(xhr.response.detail.stderr);
          status.textContent = `Error: HTTP ${xhr.status}: ${xhr.statusText}, stderr=${stderr}`;
          console.error(status.textContent);
        }
      };
      xhr.onerror = () => {
        status.textContent = 'Network error';
        console.error('Network error');
      };
      status.textContent = 'Uploading...';
      //xhr.send(blob);
      xhr.send(file);
    } catch (error) {
      alert('Cannot upload:' + error);
      console.error('Cannot upload:', error);
      throw error;
    }
  }

  async function removeFile() {
    let path = document.getElementById("rm_path").value;
    const output = document.getElementById('rm_output');
    if (path) {
      const epath = encodePath(path)
      try {
        const url = `/file${epath}`
        const response = await fetch(url, {
          method: 'DELETE'
        });
        if (!response.ok) {
          const text = await response.text();
          throw new Error(`HTTP ${response.status}: ${text}`);
        }
        output.textContent = "Success (removed)";
      } catch (error) {
         console.error(error);
         output.textContent = error;
      }
    } else {
      alert("Please input Gfarm path");
    }
  }
</script>

</body>
</html>
