.file-item {
    border-radius: 8px;
    transition: background-color 0.2s;
}

.file-item:hover {
    background-color: var(--bs-secondary-bg);
    cursor: pointer;
}

.file-item-active {
    background-color: var(--bs-secondary-bg-subtle);
}

[data-bs-theme="dark"] .file-item:hover {
    background-color: rgba(255, 255, 255, .1);
}

[data-bs-theme="dark"] .file-item-active {
    background-color: rgba(255, 255, 255, .15);
}



.grid-container {
    display: grid;
    gap: 1rem;
}

.grid-item {
    width: 15rem;
    /* fallback default */
}

.grid-item-sm {
    width: 9rem;
}

.grid-container.grid-regular {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.grid-container.grid-small {
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
}